<div class='container'>
  <div class='row mt-5'>
    <div class='col-md-10'>
      <h4 style = "width: 100px; background-color: lightgray;">商品編集</h4>
      <% if @item.errors.any? %>
        <ul class="alert alert-danger" role="alert">
          <% @item.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <%= form_with model: @item, url: admin_item_path, method: :patch do |f| %>
      <table class="table table-borderless">
        <tr>
          <td class="form-group"><h6>商品画像</h6></td><td><%= f.file_field :image, accept: "image/*" %></td>
        </tr>
        <tr>
          <td class="form-group"><h6>商品名</h6></td><td><%= f.text_field :name %></td>
        </tr>
        <tr>
          <td class="form-group"><h6>商品説明</h6></td><td><%= f.text_area :detail %></td>
        </tr>
        <tr>
          <td class="form-group"><h6>ジャンル</h6></td>
          <td><%= f.select :genre_id, options_from_collection_for_select( Genre.all, :id, :name) %></td>
        </tr>
        <tr>
          <td class="form-group"><h6>税抜価格</h6></td><td><%= f.text_field :unit_price %>円</td>
        </tr>
        <tr>
          <td class="form-group"><h6>販売ステータス</h6></td>
          <td><%= f.label :is_active, '販売中', value: 1 %>
              <%= f.radio_button :is_active, '1' %>
              <%= f.label :is_active, '販売停止中', value: 0 %>
              <%= f.radio_button :is_active, '0' %>
          </td>
        </tr>
        <tr>
          <td align = "center"><%= f.submit '変更を保存', class: 'btn btn-success' %></td>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
</div>
