<h4>商品詳細</h4>

  <%= image_tag @item.image, size:'350x250' %>
  <p>商品名</p>
  <%= @item.name %>
  <p>商品説明</p>
  <%= @item.detail %>
  <p>ジャンル</p>
  <%= @item.genre.name %>
  <p>税込価格</p><br><p>（税抜価格）</p>
  <%= number_with_delimiter(@item.unit_price) %>
  <p>販売ステータス</p>
  <%= @item.is_active ? '販売中':'販売停止中' %>
  <%= link_to "編集する", edit_admin_item_path(@item.id), class: 'btn btn-success' %>

