<table>
  <thead>
    <td>商品名</td>
    <td>単価(税込み)</td>
    <td>数量</td>
    <td>小計</td>
    <td>製作ステータス</td>
  </thead>
  <%= form_with model: @order_detail, url: admin_order_detail_path(@order_detail), method: :patch do |f| %>
  <tbody>
    <td><%= @orde_detail.item.name %></td>
    <td><%= @order_detail.item.with_tax_price %></td>
    <td><%= @order_detail.amount %></td>
    <td><%= (@order_detail.item.with_tax_price*@order_detail.amount) %>
        <% @total += (@order_detail.item.with_tax_price*@order_detail.amount) %>
    </td>
  </tbody>
  <% end %>
</table>