<div style="width: 800px; height: 70vh; margin: 30px auto;">
  <h5 style="width: 160px; text-align: center; background-color: lightgray;">配送先編集</h5>
  <br>
  <%= render "layouts/error_message", obj: @destination %>
  <!--配送先編集フォーム-->
  <%= form_with model: @destination, url: public_destination_path, method: :patch, local: true do |f| %>
    <div class="field mb-1">
      <%= f.label :shipping_postcode, '郵便番号(ハイフンなし)　　' %>
      <%= f.text_field :shipping_postcode %>
    </div>
    <div class="field mb-1">
      <%= f.label :shipping_address, '住所　　　　 　　　  　　　' %>
      <%= f.text_field :shipping_address, size: 60 %>
    </div>
    <div class="field mb-1">
      <%= f.label :direction, '宛名　　　　 　　　  　　　' %>
      <%= f.text_field :direction %>
      <div class="float-right"><%= f.submit "変更内容を保存", class: "btn btn-success px-4" %></div>
    </div>
  <% end %>
</div>
