<div style="width: 800px; margin: 30px auto;">
  <h5 style="width: 100px; text-align: center; background-color: lightgray;">ログイン</h5>
  <br>
  <h6 style="width: 250px; text-align: center; background-color: lightgray;">会員の方はこちらからログイン</h6>
  <br>
  <%= form_with model: @customer, url: customer_session_path do |f| %>
    <div class="field">
      <%= f.label :email, '　　　　　　メールアドレス　　　　　' %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", size: 50 %>
    </div>
    <br>
    <div class="field">
      <%= f.label :password, '　　　　　　パスワード　　　　　　　' %>
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>
    <br>
    <div class="actions">　　　　　　　　　　　　　　　　　　<%= f.submit "ログイン", class: 'btn btn-primary' %>
    </div>
  <% end %>
  <br>
  <h6 style="width: 250px; text-align: center; background-color: lightgray;">会員登録がお済みでない方</h6>
  <br>
  　　　　　　　　　<%= link_to "こちら", new_customer_registration_path %>　から新規登録を行ってください。
</div>