<div class="container">
  <div class="row mt-5">
    <!--ジャンル枠の挿入-->
    <%= render "public/items/genres" %>
    <div class="col-9">
      <h2 class="d-inline">商品一覧</h2><span>(全<%= @items.count %>件)</span>
      <!--商品一覧-->
      <div class="d-flex flex-wrap justify-content-between">
        <% @items.each do |item| %>
          <%= link_to public_item_path(item), class:"text-decoration-none text-dark" do %>
            <div>
              <p><%= image_tag item.image,  style: "width: 200px; align-self: flex-start;" %></p>
              <p><%= item.name %></p>
              <p>¥<%= number_with_delimiter(item.unit_price) %></p>
            </div>
          <% end %>
        <% end %>
      </div>
      <%= paginate @items %>
    </div>
  </div>
</div>

